<!-- start custom head snippets -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">

<script>
window.MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']],
    displayMath: [['$$', '$$'], ['\\[', '\\]']],
    processEscapes: true,
    processEnvironments: true,
    tags: 'ams',

    packages: {
      '[+]': ['youngtab']
    }
  },

  output: {
    font: 'mathjax-newcm'
  },

  startup: {
    ready() {

      const Configuration =
        MathJax._.input.tex.Configuration.Configuration;

      const CommandMap =
        MathJax._.input.tex.TokenMap.CommandMap;

      const TexParser =
        MathJax._.input.tex.TexParser.default;


      /*
       * ============================================================
       * Young tableaux
       * ============================================================
       */

      let lineThickness = '1pt';


      /*
       * ------------------------------------------------------------
       * Read the contents of (...).
       * ------------------------------------------------------------
       */

      function getParenthesizedArgument(parser, name) {

        while (
          parser.i < parser.string.length &&
          /\s/.test(parser.string.charAt(parser.i))
        ) {
          parser.i++;
        }

        if (parser.string.charAt(parser.i) !== '(') {
          parser.Error(
            'MissingOpen',
            'Missing ( after %1',
            name
          );
        }

        parser.i++;

        const start = parser.i;
        let depth = 1;
        let braces = 0;

        while (parser.i < parser.string.length) {

          const c = parser.string.charAt(parser.i);

          if (c === '{') {
            braces++;
          }

          else if (c === '}') {
            braces--;
          }

          else if (braces === 0) {

            if (c === '(') {
              depth++;
            }

            else if (c === ')') {
              depth--;

              if (depth === 0) {
                const result =
                  parser.string.slice(
                    start,
                    parser.i
                  );

                parser.i++;

                return result;
              }
            }
          }

          parser.i++;
        }

        parser.Error(
          'MissingClose',
          'Missing ) for %1',
          name
        );
      }


      /*
       * ------------------------------------------------------------
       * Split the rows of a tableau.
       *
       * \young(abc,de,f)
       * becomes:
       *
       *   abc
       *   de
       *   f
       * ------------------------------------------------------------
       */

      function splitRows(text) {

        const rows = [];
        let current = '';
        let braces = 0;

        for (let i = 0; i < text.length; i++) {

          const c = text.charAt(i);

          if (c === '{') {
            braces++;
            current += c;
          }

          else if (c === '}') {
            braces--;
            current += c;
          }

          else if (c === ',' && braces === 0) {
            rows.push(current);
            current = '';
          }

          else {
            current += c;
          }
        }

        rows.push(current);

        return rows;
      }


      /*
       * ------------------------------------------------------------
       * Split a tableau row into individual cells.
       *
       * abc
       *     -> a, b, c
       *
       * {a_i}bc
       *     -> a_i, b, c
       *
       * \alpha bc
       *     -> \alpha, b, c
       * ------------------------------------------------------------
       */

      function tokenizeRow(row) {

        const tokens = [];
        let i = 0;

        while (i < row.length) {

          /*
           * Ignore whitespace.
           */
          if (/\s/.test(row.charAt(i))) {
            i++;
            continue;
          }


          /*
           * A braced expression is one cell.
           */
          if (row.charAt(i) === '{') {

            let depth = 1;
            let j = i + 1;

            while (
              j < row.length &&
              depth > 0
            ) {

              if (row.charAt(j) === '{') {
                depth++;
              }

              else if (row.charAt(j) === '}') {
                depth--;
              }

              j++;
            }

            tokens.push(
              row.slice(i + 1, j - 1)
            );

            i = j;
            continue;
          }


          /*
           * A TeX control sequence is one cell.
           */
          if (row.charAt(i) === '\\') {

            let j = i + 1;

            while (
              j < row.length &&
              /[A-Za-z@]/.test(
                row.charAt(j)
              )
            ) {
              j++;
            }


            /*
             * Include a braced argument if there is one.
             *
             * This permits things such as
             *
             *   \mathbf{a}
             *
             * to occupy a single cell.
             */
            if (row.charAt(j) === '{') {

              let depth = 1;
              let k = j + 1;

              while (
                k < row.length &&
                depth > 0
              ) {

                if (row.charAt(k) === '{') {
                  depth++;
                }

                else if (row.charAt(k) === '}') {
                  depth--;
                }

                k++;
              }

              j = k;
            }

            tokens.push(
              row.slice(i, j)
            );

            i = j;
            continue;
          }


          /*
           * An ordinary character is one cell.
           */
          tokens.push(row.charAt(i));

          i++;
        }

        return tokens;
      }


      /*
       * ------------------------------------------------------------
       * Create one tableau cell.
       *
       * Each boundary is drawn exactly once:
       *
       *   - right border: every cell
       *   - left border: first cell in each row
       *   - top border: cells in first row
       *   - bottom border: cells with no cell below
       *
       * This prevents internal lines from becoming twice as thick.
       * ------------------------------------------------------------
       */

      function makeCell(
        parser,
        content,
        borders
      ) {

        const border =
          lineThickness +
          ' solid currentColor';

        let style =
          'width:1.55em;' +
          'height:1.55em;' +
          'box-sizing:border-box;' +
          'display:inline-flex;' +
          'align-items:center;' +
          'justify-content:center;';


        if (borders.top) {
          style +=
            'border-top:' +
            border +
            ';';
        }

        if (borders.right) {
          style +=
            'border-right:' +
            border +
            ';';
        }

        if (borders.bottom) {
          style +=
            'border-bottom:' +
            border +
            ';';
        }

        if (borders.left) {
          style +=
            'border-left:' +
            border +
            ';';
        }


        /*
         * Parse the contents of the cell using MathJax's
         * own TeX parser, so ordinary mathematical notation
         * continues to work inside tableau cells.
         */
        const cellMath =
          new TexParser(
            content,
            parser.stack.env,
            parser.configuration
          ).mml();


        return parser.create(
          'node',
          'mrow',
          [cellMath],
          {
            class: 'youngtab-cell',
            style: style
          }
        );
      }


      /*
       * ------------------------------------------------------------
       * Create one row.
       * ------------------------------------------------------------
       */

      function makeRow(
        parser,
        entries,
        rowIndex,
        rowLengths
      ) {

        const cells =
          entries.map(
            function (entry, colIndex) {

              /*
               * A cell always has a right edge.
               *
               * Only the first cell gets a left edge.
               */
              const left =
                colIndex === 0;

              const right = true;


              /*
               * Only the first row gets top borders.
               */
              const top =
                rowIndex === 0;


              /*
               * Draw the bottom edge when there is no
               * cell directly underneath this cell.
               */
              const below =
                rowIndex <
                  rowLengths.length - 1 &&
                colIndex <
                  rowLengths[rowIndex + 1];

              const bottom =
                !below;


              return makeCell(
                parser,
                entry,
                {
                  top: top,
                  right: right,
                  bottom: bottom,
                  left: left
                }
              );
            }
          );


        return parser.create(
          'node',
          'mrow',
          cells,
          {
            class: 'youngtab-row',
            style:
              'display:flex;' +
              'height:1.55em;'
          }
        );
      }


      /*
       * ------------------------------------------------------------
       * \yng(3,2,1)
       *
       * Young diagram with row lengths 3, 2, 1.
       * ------------------------------------------------------------
       */

      function Yng(parser, name) {

        const argument =
          getParenthesizedArgument(
            parser,
            name
          );


        const lengths =
          argument
            .split(',')
            .map(
              function (x) {
                return parseInt(
                  x.trim(),
                  10
                );
              }
            )
            .filter(
              function (x) {
                return (
                  Number.isFinite(x) &&
                  x > 0
                );
              }
            );


        const rows =
          lengths.map(
            function (length, rowIndex) {

              const entries = [];

              for (
                let i = 0;
                i < length;
                i++
              ) {
                entries.push(
                  '\\phantom{1}'
                );
              }


              return makeRow(
                parser,
                entries,
                rowIndex,
                lengths
              );
            }
          );


        const tableau =
          parser.create(
            'node',
            'mrow',
            rows,
            {
              class:
                'youngtab-tableau',
              style:
                'display:inline-block;' +
                'vertical-align:middle;' +
                'line-height:1;'
            }
          );


        parser.Push(tableau);
      }


      /*
       * ------------------------------------------------------------
       * \young(134,25)
       *
       * Young tableau with rows:
       *
       *   1 3 4
       *   2 5
       * ------------------------------------------------------------
       */

      function Young(parser, name) {

        const argument =
          getParenthesizedArgument(
            parser,
            name
          );


        const tokenRows =
          splitRows(argument)
            .map(
              function (row) {
                return tokenizeRow(row);
              }
            );


        const rowLengths =
          tokenRows.map(
            function (row) {
              return row.length;
            }
          );


        const rows =
          tokenRows.map(
            function (entries, rowIndex) {

              return makeRow(
                parser,
                entries,
                rowIndex,
                rowLengths
              );
            }
          );


        const tableau =
          parser.create(
            'node',
            'mrow',
            rows,
            {
              class:
                'youngtab-tableau',
              style:
                'display:inline-block;' +
                'vertical-align:middle;' +
                'line-height:1;'
            }
          );


        parser.Push(tableau);
      }


      /*
       * ------------------------------------------------------------
       * \Ylinethick{1pt}
       * ------------------------------------------------------------
       */

      function Ylinethick(parser, name) {

        lineThickness =
          parser.GetArgument(name).trim();
      }


      /*
       * ------------------------------------------------------------
       * Register the TeX commands.
       * ------------------------------------------------------------
       */

      new CommandMap(
        'youngtab',
        {
          yng: 'Yng',
          young: 'Young',
          Ylinethick: 'Ylinethick'
        },
        {
          Yng: Yng,
          Young: Young,
          Ylinethick: Ylinethick
        }
      );


      /*
       * Register the Young-tab package with MathJax.
       */

      Configuration.create(
        'youngtab',
        {
          handler: {
            macro: ['youngtab']
          }
        }
      );


      /*
       * Continue with normal MathJax startup.
       */

      MathJax.startup.defaultReady();
    }
  }
};
</script>

<script defer
  src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js">
</script>

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
