{% assign locale = include.locale | default: site.locale %}
{% assign date_format = page.date_format | default: site.date_format | default: "%B %-d, %Y" %}

{% if page.date %}
  <p class="page__date">
    <strong>
      <i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i>
      Published:
    </strong>
    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">
      {{ page.date | date: date_format }}
    </time>

    {% if page.last_modified_at %}
      <span class="page__meta-sep"></span>
      <strong>
        Last Updated:
      </strong>
      <time class="dt-updated" datetime="{{ page.last_modified_at | date: "%Y-%m-%d" }}">
        {{ page.last_modified_at | date: date_format }}
      </time>
    {% endif %}
  </p>
{% endif %}
